:root {
    /* 色管理用の変数 */
    --black-color: #333;
    --pink-color: #e16ba4;
    --green-color: #afc02e;
    --orange-color: #f0892e;
    --blue-color: #00b5de;
}

/* ------------google font ----------------- */

.kiwi-maru-medium {
    font-family: "Kiwi Maru", serif;
    font-weight: 500;
    font-style: normal;
}

.kiwi-maru-regular {
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
}

.kiwi-maru-light {
    font-family: "Kiwi Maru", serif;
    font-weight: 300;
    font-style: normal;
}

/* ---------- base ---------- */
body {
    color: var(--black-color);
    font-size: 16px;
    font-family: "Kiwi Maru", serif;
    line-height: 1.75;
}

.account-img {
    width: 40px;
    height: 40px;
}

.body_container {
    padding-top: 4rem;
    font-size: 3rem;
}

.maker_font {
    font-size: 0.9rem;
}

.Answer_button_Container {
    padding-top: 10rem;
}

.Answer_button {
    height: 6rem;
}

.Quiz_question {
    padding-top: 4rem;
    padding-bottom: 2rem;
    height: 16rem;
}

.Quiz_result {
    margin-top: 4rem;
    font-size: 5rem;
}

.button_color1 {
    background-color: var(--pink-color);
}
.button_color1:hover {
    background-color: #c0598b;
}
.button_color2 {
    background-color: var(--green-color);
}
.button_color2:hover {
    background-color: #9aa926;
}
.button_color3 {
    background-color: var(--orange-color);
}
.button_color3:hover {
    background-color: #db7e2c;
}
.button_color4 {
    background-color: var(--blue-color);
}
.button_color4:hover {
    background-color: #009cbf;
}

.answer_hantei {
    font-size: 30rem;
}

.home_choice1 {
    font-size: 3rem;
    aspect-ratio: 1 / 1;
    width: auto;
    height: auto;
    border-radius: 50%;
    background-color: var(--orange-color);
}
.home_choice1:hover {
    background-color: #db7e2c;
    transition-duration: 0.5s;
    transform: scale(0.8, 0.8);
}
.home_choice2 {
    font-size: 3rem;
    aspect-ratio: 1 / 1;
    width: auto;
    height: auto;
    border-radius: 50%;
    background-color: var(--green-color);
}
.home_choice2:hover {
    transition-duration: 0.5s;
    transform: scale(0.8, 0.8);
    background-color: #9aa926;
}

.home_container {
    height: 70vh;
    margin: auto;
}
